Repository M4nk1n/expo-pnpm-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, markdownlint-cli2 .md

feat(@packages): 更新示例代码
  packages/app/package.json
  packages/app/src/screens/Home/index.tsx
  packages/terms/src/screens/Privacy.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(@shared/components): 新增组件 NavigationBarButton，根据导航栏高度自动设置图标尺寸
  shared/components/src/NavigationBarButton/index.tsx
  shared/components/src/index.ts
Due: prettier --write, eslint --fix

feat(@shared/components): 新增 StatusBarProvider 组件，方便统一设置 StatusBar 状态
  shared/components/package.json
  shared/components/src/StatusBar/index.tsx
  shared/components/src/index.ts
Due: prettier --write, eslint --fix

fix(@shared/i18n): 修复 l, toTime, strftime 的函数引用
  shared/i18n/src/hook.ts
Due: prettier --write, eslint --fix

feat(@shared/components): 用 ActivityIndicator 作为 Suspense 的默认 fallback 属性
  shared/components/src/Suspense/index.tsx
Due: prettier --write, eslint --fix

perf(@packages): 在 app 入口处统一设置 StatusBar
  packages/ac/package.json
  packages/ac/src/screens/About/index.tsx
  packages/app/package.json
  packages/app/src/AppProviders.tsx
  packages/app/src/screens/Home/index.tsx
  packages/terms/package.json
  packages/terms/src/screens/Agreement.tsx
  packages/terms/src/screens/Privacy.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: 项目依赖调整
  apps/expo/package.json
  apps/next/package.json
  packages/ac/package.json
  packages/app/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 以懒加载导入组件包
  packages/ac/src/index.ts
  packages/app/src/index.ts
  packages/app/src/navigation/index.tsx
  packages/terms/src/index.ts
Due: prettier --write, eslint --fix

fix(@shared/components): 修复 CheckBox 不设置 onPress 时会阻止触发父组件点击事件的问题
  shared/components/src/CheckBox/index.tsx
Due: prettier --write, eslint --fix

perf(@shared/authentication): 更新组件逻辑，Storage 储存失败不影响正常登录
  shared/authentication/src/index.ts
  shared/authentication/src/provider.tsx
  shared/authentication/src/types.ts
Due: prettier --write, eslint --fix

feat(@shared/components): toast duration 新增 ‘always’ 选项
  shared/components/src/Toast/types.ts
  shared/components/src/Toast/ui/toast.tsx
Due: prettier --write, eslint --fix

docs: updated README.md
  README.md
Due: markdownlint-cli2 .md

chore: 更新依赖
  apps/expo/package.json
  apps/next/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: remove mobx
  README.md
  packages/app/package.json
  packages/app/src/screens/Home/index.tsx
  packages/app/src/store/app.ts
  packages/app/src/store/index.ts
  packages/app/tsconfig.json
  packages/terms/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, markdownlint-cli2 .md

ci: updated node scripts
  .eslintrc.json
  apps/expo/package.json
  apps/next/package.json
  package.json
  packages/app/src/screens/Device/index.tsx
  shared/authentication/package.json
  shared/hooks/package.json
  shared/i18n/package.json
  shared/navigation/package.json
  shared/storage/package.json
  shared/theme/package.json
  shared/utils/package.json
Due: prettier --write, eslint --fix

chore: upload expo-monorepo.code-workspace
  expo-monorepo.code-workspace
Due: none

ci: updated npm scripts
  .npmrc
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (((any of: **/*.json) or (any of: **/*.{js,ts,tsx})) or (any of: *.vue)) or (any of: *.{scss,less,styl,html})
  eslint --fix: (any of: **/*.{js,ts,tsx}) or (any of: *.vue)
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
  markdownlint-cli2 .md: any of: **/*.md
