Repository M4nk1n/expo-pnpm-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, markdownlint-cli2 .md

chore(markdownlint): 修改 .markdownlint.json 配置
  .markdownlint.json
Due: prettier --write

chore(prettier): ignore lock files for pnpm, npm and yarn
  .prettierignore
Due: none

chore(pnpm): updated pnpm to 7.5.0
  package.json
  pnpm-workspace.yaml
Due: prettier --write

perf: 去掉几个 global.d.ts，直接用 typings 目录
  devices/ac/tsconfig.json
  devices/ac/typings/module.d.ts
  devices/light/typings/module.d.ts
  packages/app/tsconfig.json
  packages/app/typings/module.d.ts
Due: prettier --write, eslint --fix

chore: 添加 vscode 设置，过滤部分目录下的 npm scripts detect
  .vscode/settings.json
Due: prettier --write

feat(packages): new package: i18n
  packages/i18n/package.json
  packages/i18n/src/@types/index.d.ts
  packages/i18n/src/context.ts
  packages/i18n/src/hook.ts
  packages/i18n/src/index.ts
  packages/i18n/src/provider.tsx
  packages/i18n/src/utils.ts
  packages/i18n/tsconfig.json
Due: prettier --write, eslint --fix

feat(app): 更新 i18n 示例代码
  devices/ac/src/AppProviders.tsx
  package.json
  packages/app/package.json
  packages/app/src/AppProvider.tsx
  packages/app/src/AppProviders.tsx
  packages/app/src/locales/index.ts
  packages/app/src/locales/languages/enUS.json
  packages/app/src/locales/languages/index.ts
  packages/app/src/locales/languages/zhCN.json
  packages/app/src/screens/home/index.tsx
  packages/app/tsconfig.json
  packages/components/package.json
  packages/navigation/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: package type 设置为 module
  packages/components/package.json
  packages/components/src/index.ts
  packages/navigation/package.json
  packages/shared/package.json
Due: prettier --write, eslint --fix

chore(next): 去掉 webpack 配置
  apps/next/next.config.js
Due: prettier --write, eslint --fix

feat: add SplashScreen when app is not ready
  apps/expo/app.json
  packages/app/package.json
  packages/app/src/AppProvider.tsx
Due: prettier --write, eslint --fix

feat: 适配 Paths Alias 相关配置
  apps/expo/metro.config.js
  apps/next/.babelrc.json
  apps/next/next.config.js
  packages/app/.babelrc.json
  packages/app/package.json
  packages/app/src/AppProvider.tsx
  packages/app/src/AppProviders.tsx
  packages/app/src/navigation/NavigatorProvider.tsx
  packages/app/tsconfig.json
Due: prettier --write, eslint --fix

feat(packages/components): add new components - Base
  packages/components/src/Base/Divider.tsx
  packages/components/src/Base/HStack.tsx
  packages/components/src/Base/Spacer.tsx
  packages/components/src/Base/VStack.tsx
  packages/components/src/Base/index.ts
  packages/components/src/Base/types.d.ts
  packages/components/src/index.ts
Due: prettier --write, eslint --fix

perf: moved typings/ to src/@types/
  packages/app/src/@types/PageProps.d.ts
  packages/app/src/@types/module.d.ts
Due: prettier --write, eslint --fix

ci: 更新安卓签名脚本 android-sign.gradle
  apps/expo/android-sign.gradle
  apps/expo/package.json
Due: prettier --write

feat(packages): new package: theme
  packages/theme/package.json
  packages/theme/src/@types/index.d.ts
  packages/theme/src/context.ts
  packages/theme/src/hook.ts
  packages/theme/src/index.ts
  packages/theme/src/provider.tsx
  packages/theme/src/themes/index.ts
  packages/theme/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

perf(packages/theme): 优化导入声明
  packages/theme/src/context.ts
  packages/theme/src/hook.ts
  packages/theme/src/provider.tsx
  packages/theme/src/themes/index.ts
Due: prettier --write, eslint --fix

perf(packages/i18n): 优化导入声明
  packages/i18n/src/utils.ts
Due: prettier --write, eslint --fix

perf(packages/components): 优化导入声明
  packages/components/src/Base/Divider.tsx
  packages/components/src/Base/HStack.tsx
  packages/components/src/Base/Spacer.tsx
  packages/components/src/Base/VStack.tsx
  packages/components/src/Base/index.ts
  packages/components/src/Toast/hooks/context.ts
  packages/components/src/Toast/hooks/hook.ts
  packages/components/src/Toast/hooks/provider.tsx
  packages/components/src/Toast/types.ts
  packages/components/src/Toast/ui/toast.tsx
Due: prettier --write, eslint --fix

feat(app): 更新 theme 示例代码
  packages/app/package.json
  packages/app/src/AppProvider.tsx
  packages/app/src/AppProviders.tsx
  packages/app/src/themes/dark.json
  packages/app/src/themes/index.ts
  packages/app/src/themes/light.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

refactor(app): rename locales directory
  packages/app/src/AppProvider.tsx
  packages/app/src/locale/index.ts
  packages/app/src/locale/languages/enUS.json
  packages/app/src/locale/languages/zhCN.json
  packages/app/src/locales/index.ts
  packages/app/src/locales/languages/enUS.json
  packages/app/src/locales/languages/zhCN.json
Due: prettier --write, eslint --fix

feat(app): 更新示例代码
  packages/app/src/screens/home/index.tsx
  packages/app/tsconfig.json
Due: prettier --write, eslint --fix

feat(packages/theme): new hook(useStyles), to generate a StyleSheet
  packages/theme/src/hook.ts
Due: prettier --write, eslint --fix

feat(app): 更新 useStyles 示例代码
  packages/app/src/screens/home/index.tsx
Due: prettier --write, eslint --fix

feat(app): new GlobalStyles
  packages/app/src/themes/index.ts
Due: prettier --write, eslint --fix

feat(packages/components): new component - CheckBox
  packages/components/src/CheckBox/assets/opt_nor.png
  packages/components/src/CheckBox/assets/opt_sel.png
  packages/components/src/CheckBox/index.tsx
  packages/components/src/global.d.ts
  packages/components/src/index.ts
Due: prettier --write, eslint --fix

perf(packages/theme): 新增一条属性 - HugeLineHeight
  packages/app/src/themes/dark.json
  packages/app/src/themes/light.json
  packages/theme/src/@types/index.d.ts
  packages/theme/src/themes/index.ts
Due: prettier --write, eslint --fix

fix(packages/components): fix StyleProp in Base components
  packages/components/src/Base/HStack.tsx
  packages/components/src/Base/VStack.tsx
  packages/components/src/Base/types.d.ts
Due: prettier --write, eslint --fix

feat(app): 更新 GlobalStyles
  packages/app/src/themes/index.ts
Due: prettier --write, eslint --fix

docs(packages/theme): 修改注释
  packages/theme/src/hook.ts
Due: prettier --write, eslint --fix

feat(packages): new package: storage
  packages/storage/package.json
  packages/storage/src/index.ts
  packages/storage/src/useAsyncStorage.ts
  packages/storage/src/useSecureStore.ts
  packages/storage/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(packages/shared): new hooks - useLayout, useBackHandler
  packages/shared/src/hooks/index.ts
  packages/shared/src/hooks/useBackHandler.ts
  packages/shared/src/hooks/useLayout.ts
Due: prettier --write, eslint --fix

chore(packages/theme): fix devDependencies version
  packages/theme/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: expo/next 调整依赖
  apps/expo/package.json
  apps/next/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(packages/navigation): 导出 @react-navigation 的内容
  packages/navigation/src/index.tsx
Due: prettier --write, eslint --fix

fix(packages/navigation): rename useNavigationProp & useRouteProp
  packages/navigation/src/types.ts
Due: prettier --write, eslint --fix

feat(app): 更新示例代码
  devices/ac/src/screens/home/index.tsx
  packages/app/src/screens/device/index.native.tsx
  packages/app/src/screens/device/index.tsx
  packages/app/src/screens/home/index.tsx
Due: prettier --write, eslint --fix

docs(packages/shared): 补充 useBackHandler 注释
  packages/shared/src/hooks/useBackHandler.ts
Due: prettier --write, eslint --fix

chore: 依赖更新
  apps/expo/package.json
  devices/ac/package.json
  devices/light/package.json
  package.json
  packages/app/package.json
  packages/components/package.json
  packages/i18n/package.json
  packages/navigation/package.json
  packages/shared/package.json
  packages/storage/package.json
  packages/theme/package.json
  pnpm-lock.yaml
Due: prettier --write

perf(app): wrapping Device route with Stack.Group
  packages/app/src/navigation/NavigatorProvider.tsx
Due: prettier --write, eslint --fix

refactor(app): 修改 screens 下文件命名规范
  devices/ac/src/screens/About/index.tsx
  devices/ac/src/screens/Home/index.tsx
  packages/app/src/screens/Device/index.native.tsx
  packages/app/src/screens/Device/index.tsx
  packages/app/src/screens/Home/index.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (((any of: **/*.json) or (any of: **/*.{js,ts,tsx})) or (any of: *.vue)) or (any of: *.{scss,less,styl,html})
  eslint --fix: (any of: **/*.{js,ts,tsx}) or (any of: *.vue)
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
  markdownlint-cli2 .md: any of: **/*.md
