Repository M4nk1n/expo-pnpm-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, markdownlint-cli2 .md

chore(eslint/prettier): 添加两个 ignore
  .eslintignore
  .prettierignore
Due: none

docs: updated README.md
  README.md
Due: markdownlint-cli2 .md

chore: 代码规范体系之 stylelint
  .stylelintignore
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(lint-staged): add type 'jsx' in config
  .eslintrc.json
  .lintstagedrc.json
Due: prettier --write

chore: 调整各个 package.json scripts 脚本
  devices/ac/package.json
  devices/light/package.json
  package.json
  packages/app/package.json
  packages/navigation/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(expo): metro.config.resolver.nodeModulesPaths
  apps/expo/metro.config.js
Due: prettier --write, eslint --fix

chore(next): transform all direct `react-native` imports to `react-native-web`
  apps/next/.babelrc.json
  apps/next/next.config.js
  apps/next/package.json
  apps/next/tsconfig.json
Due: prettier --write, eslint --fix

build: modify npm scripts
  package.json
Due: prettier --write

chore: tsconfig.json
  tsconfig.base.json
  tsconfig.json
Due: prettier --write

chore(babel.config): 去掉空内容
  babel.config.json
  pnpm-lock.yaml
Due: prettier --write

feat(packages): new shared package
  packages/shared/package.json
  packages/shared/src/hooks/index.ts
  packages/shared/src/hooks/useDimensions.tsx
  packages/shared/src/hooks/useOffscreenStyle.ts
  packages/shared/src/index.tsx
  packages/shared/src/utils/combineProviders.tsx
  packages/shared/src/utils/index.ts
  packages/shared/tsconfig.json
Due: prettier --write, eslint --fix

feat(packages): new public components package
  packages/components/package.json
  packages/components/src/KeyboardAvoiding/index.tsx
  packages/components/src/Suspense/index.tsx
  packages/components/src/Toast/hooks/context.ts
  packages/components/src/Toast/hooks/hook.ts
  packages/components/src/Toast/hooks/provider.tsx
  packages/components/src/Toast/index.ts
  packages/components/src/Toast/types.ts
  packages/components/src/Toast/ui/container.tsx
  packages/components/src/Toast/ui/toast.tsx
  packages/components/src/index.tsx
  packages/components/tsconfig.json
Due: prettier --write, eslint --fix

chore(eslint): modify no-unused-vars rule
  .eslintrc.json
Due: prettier --write

chore: 调整各包依赖
  apps/expo/package.json
  apps/next/package.json
  devices/ac/package.json
  package.json
  packages/app/package.json
  packages/navigation/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: 调整 clean 脚本
  package.json
Due: prettier --write

perf(packages/navigation): 目录结构调整
  packages/navigation/index.ts
  packages/navigation/src/index.tsx
  packages/navigation/src/stack/index.native.ts
  packages/navigation/src/stack/index.ts
  packages/navigation/src/types.ts
Due: prettier --write, eslint --fix

perf: combineProviders 移至 shared 包下，导入 components 包下的 providers
  devices/ac/src/AppProviders.tsx
  packages/app/src/AppProviders.tsx
  packages/app/src/screens/device/index.native.tsx
  packages/navigation/src/combineProviders.tsx
  packages/shared/tsconfig.json
Due: prettier --write, eslint --fix

build(apps/next): babel 添加 react-native-reanimated 插件
  apps/next/.babelrc.json
Due: prettier --write

feat: 新增 useToast 示例
  packages/app/src/screens/home/index.tsx
Due: prettier --write, eslint --fix

docs: updated README & commitlintrc.description
  .commitlintrc.json
  README.md
Due: prettier --write, markdownlint-cli2 .md

feat(packages/shared): new hook: useAppState
  packages/app/src/screens/home/index.tsx
  packages/shared/src/hooks/index.ts
  packages/shared/src/hooks/useAppState.ts
Due: prettier --write, eslint --fix

style: format with SingleQuote
  apps/next/pages/_document.tsx
  packages/app/src/navigation/NavigatorProvider.tsx
Due: prettier --write, eslint --fix

chore: 依赖调整
  .npmrc
  apps/expo/package.json
  apps/next/package.json
  devices/ac/package.json
  devices/light/package.json
  package.json
  packages/app/package.json
  packages/components/package.json
  packages/navigation/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(eslint): 添加两条推荐的 eslint 规则
  .eslintrc.json
Due: prettier --write

chore(commitlint): 去掉 build 类型的提交，统一用 chore
  .commitlintrc.json
Due: prettier --write

feat(packages/shared): new hook: useKeyboard
  packages/shared/src/hooks/index.ts
  packages/shared/src/hooks/useKeyboard.ts
Due: prettier --write, eslint --fix

fix(mobx): use spec compliant transpilation for class properties
  devices/ac/tsconfig.json
  packages/app/.babelrc.json
  packages/app/tsconfig.json
Due: prettier --write

feat(app): 更新示例代码
  devices/ac/src/AppProviders.tsx
  devices/ac/src/screens/about/index.tsx
  packages/app/src/AppProviders.tsx
  packages/app/src/screens/home/index.tsx
Due: prettier --write, eslint --fix

perf(packages/components): modify KeyboardAvoidingView behavior
  packages/components/src/KeyboardAvoiding/index.tsx
Due: prettier --write, eslint --fix

chore(expo): modify app.json
  apps/expo/app.json
Due: prettier --write

perf(packages/components): 统一用 React.FC 改造 ToastProvider 组件
  packages/components/src/Toast/hooks/context.ts
  packages/components/src/Toast/hooks/hook.ts
  packages/components/src/Toast/hooks/provider.tsx
  packages/components/src/Toast/types.ts
  packages/components/src/Toast/ui/container.tsx
  packages/components/src/Toast/ui/toast.tsx
Due: prettier --write, eslint --fix

feat(packages/components): new component: PureWrapper
  packages/components/src/PureWrapper/index.tsx
  packages/components/src/index.tsx
Due: prettier --write, eslint --fix

style(packages/components): updated SuspenseProvider
  packages/components/src/Suspense/index.tsx
Due: prettier --write, eslint --fix

feat(app): 更新示例代码
  packages/app/global.d.ts
  packages/app/src/screens/device/index.native.tsx
  packages/app/src/screens/device/index.tsx
  packages/app/tsconfig.json
  packages/app/typings/PageProps.d.ts
  packages/app/typings/navigation/PageProps.d.ts
  packages/app/typings/navigation/index.d.ts
Due: prettier --write, eslint --fix

feat(devices/ac): 更新示例代码
  devices/ac/global.d.ts
  devices/ac/src/AppProviders.tsx
  devices/ac/tsconfig.json
  devices/ac/typings/PageProps.d.ts
Due: prettier --write, eslint --fix

feat(app): 添加用于 App 各种初始化操作的 AppProvider
  packages/app/src/AppProvider.tsx
  packages/app/src/AppProviders.tsx
Due: prettier --write, eslint --fix

ci: 新增 expo/eas 打包脚本
  apps/expo/android-sign.gradle
  apps/expo/credentials.json
  apps/expo/credentials/android.keystore
  apps/expo/eas.json
  apps/expo/metro.config.js
  apps/expo/package.json
Due: prettier --write, eslint --fix

fix(apps/expo): custom "main" entry point in package.json is not yet supported
  apps/expo/index.js
  apps/expo/package.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (((any of: **/*.json) or (any of: **/*.{js,ts,tsx})) or (any of: *.vue)) or (any of: *.{scss,less,styl,html})
  eslint --fix: (any of: **/*.{js,ts,tsx}) or (any of: *.vue)
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
  markdownlint-cli2 .md: any of: **/*.md
