Repository M4nk1n/expo-pnpm-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, markdownlint-cli2 .md

docs(packages/i18n): 添加 GitHub 文档链接
  packages/i18n/src/hook.ts
Due: prettier --write, eslint --fix

feat(shared): 添加多个 hook
  packages/shared/package.json
  packages/shared/src/hooks/index.ts
  packages/shared/src/hooks/useBackHandler.ts
  packages/shared/src/hooks/useBoolean.ts
  packages/shared/src/hooks/useCountdown.ts
  packages/shared/src/hooks/useCounter.ts
  packages/shared/src/hooks/useDimensions.tsx
  packages/shared/src/hooks/useEffectCleaner.ts
  packages/shared/src/hooks/useEffectOnce.ts
  packages/shared/src/hooks/useInterval.ts
  packages/shared/src/hooks/useIsomorphicLayoutEffect.ts
  packages/shared/src/hooks/useKeyboard.ts
  packages/shared/src/hooks/useLayout.ts
  packages/shared/src/hooks/useStepper.ts
  packages/shared/src/hooks/useTimeout.ts
Due: prettier --write, eslint --fix

refactor(@packages/storage): 利用函数重载兼容多种用法
  packages/storage/package.json
  packages/storage/src/useAsyncStorage.ts
  packages/storage/tsconfig.json
Due: prettier --write, eslint --fix

chore(@packages/theme): 使用 tsc build 脚本编译
  packages/theme/package.json
  packages/theme/src/context.ts
  packages/theme/src/hook.ts
  packages/theme/src/index.ts
  packages/theme/src/provider.tsx
  packages/theme/src/themes/default.ts
  packages/theme/src/types.ts
  packages/theme/tsconfig.json
Due: prettier --write, eslint --fix

chore(@packages/navigation): 使用 tsc build 脚本编译
  packages/navigation/package.json
  packages/navigation/tsconfig.json
Due: prettier --write

chore(@packages/i18n): 使用 tsc build 脚本编译
  packages/i18n/package.json
  packages/i18n/src/@types/index.d.ts
  packages/i18n/src/hook.ts
  packages/i18n/tsconfig.json
Due: prettier --write, eslint --fix

feat(@packages/components): 新增 KeyboardDismissWrapper 组件
  packages/components/src/KeyboardDismissWrapper/index.tsx
  packages/components/src/index.ts
Due: prettier --write, eslint --fix

refactor(@packages/components): 组件 Base 适配 React Native 写法
  packages/components/src/Base/Divider.tsx
  packages/components/src/Base/types.d.ts
Due: prettier --write, eslint --fix

refactor(@packages/components): 重新封装 KeyboardAvoidingView，新增 KeyboardAvoidingViewProvider
  packages/components/package.json
  packages/components/src/KeyboardAvoiding/index.tsx
Due: prettier --write, eslint --fix

chore: 更新 expo.tsconfig, vscode, eslintignore 配置
  .eslintignore
  .vscode/settings.json
  apps/expo/tsconfig.json
Due: prettier --write

feat(app): 更新示例代码
  packages/app/src/AppProvider.tsx
  packages/app/src/AppProviders.tsx
  packages/app/src/screens/Device/index.tsx
Due: prettier --write, eslint --fix

chore: expo SDK updated to 46 version
  apps/expo/metro.config.js
  apps/expo/package.json
  apps/next/package.json
  devices/ac/package.json
  devices/light/package.json
  package.json
  packages/app/package.json
  packages/components/package.json
  packages/i18n/package.json
  packages/navigation/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: 各组件适配 react 18
  devices/ac/src/AppProviders.tsx
  packages/app/src/AppProviders.tsx
  packages/components/src/Base/HStack.tsx
  packages/components/src/Base/VStack.tsx
  packages/components/src/KeyboardAvoiding/index.tsx
  packages/components/src/KeyboardDismissWrapper/index.tsx
  packages/components/src/PureWrapper/index.tsx
  packages/components/src/Suspense/index.tsx
  packages/components/src/Toast/hooks/provider.tsx
  packages/i18n/src/provider.tsx
  packages/shared/src/hooks/useAppState.ts
  packages/shared/src/hooks/useDimensions.tsx
  packages/shared/src/hooks/useLayout.ts
  packages/shared/src/hooks/useStepper.ts
  packages/shared/src/utils/combineProviders.tsx
  packages/theme/src/provider.tsx
Due: prettier --write, eslint --fix

chore: 新增 build:tsc 脚本统一编译各 package
  .vscode/settings.json
  package.json
  packages/components/package.json
  packages/i18n/package.json
  packages/navigation/package.json
  packages/shared/package.json
  packages/shared/tsconfig.json
  packages/storage/package.json
  packages/theme/package.json
Due: prettier --write

chore: 先清掉 react-native-reanimated 插件
  apps/expo/.babelrc.json
  apps/expo/package.json
  apps/next/.babelrc.json
  apps/next/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(next): 补充 expo 依赖
  apps/next/package.json
Due: prettier --write

fix(app): fix file path in NavigatorProvider.tsx
  packages/app/src/navigation/NavigatorProvider.tsx
Due: prettier --write, eslint --fix

chore: 更新 vscode 配置
  .vscode/settings.json
Due: prettier --write

perf(@shared/components): 优化 Divider 组件样式
  shared/components/src/Base/Divider.tsx
Due: prettier --write, eslint --fix

feat(@shared/hooks): new hook: useFetch
  pnpm-lock.yaml
  shared/hooks/package.json
  shared/hooks/src/index.ts
  shared/hooks/src/useFetch.ts
  shared/utils/src/BaseRequest.ts
  shared/utils/src/index.ts
Due: prettier --write, eslint --fix

feat(@shared/i18n): 新增 checkStore 方法用于检查多语言域是否已经进行过 store 操作
  shared/i18n/src/hook.ts
Due: prettier --write, eslint --fix

feat(@packages/terms): 添加“用户协议”示例页面
  packages/app/package.json
  packages/app/src/AppProvider.tsx
  packages/app/src/navigation/NavigatorProvider.tsx
  packages/app/src/screens/Home/index.tsx
  packages/app/src/themes/dark.json
  packages/app/src/themes/light.json
  packages/terms/package.json
  packages/terms/src/AppProvider.tsx
  packages/terms/src/AppProviders.tsx
  packages/terms/src/constants/index.ts
  packages/terms/src/index.ts
  packages/terms/src/locale/index.ts
  packages/terms/src/locale/languages/enUS.json
  packages/terms/src/locale/languages/zhCN.json
  packages/terms/src/navigation/NavigatorProvider.tsx
  packages/terms/src/screens/Agreement.tsx
  packages/terms/src/screens/Privacy.tsx
  packages/terms/src/themes/index.ts
  packages/terms/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: 新增 clean:tsc 脚本
  package.json
Due: prettier --write

feat(@packages/terms): 新增 ScreenList 参数标记子页面模块的路由地址
  packages/app/src/screens/Home/index.tsx
  packages/terms/src/constants/index.ts
  packages/terms/src/index.ts
  packages/terms/src/navigation/NavigatorProvider.tsx
Due: prettier --write, eslint --fix

feat(@packages/terms): 更新示例代码
  packages/terms/src/locale/languages/enUS.json
  packages/terms/src/locale/languages/zhCN.json
  packages/terms/src/navigation/NavigatorProvider.tsx
  packages/terms/src/screens/Agreement.tsx
  packages/terms/src/screens/Privacy.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(@shared/hooks): new hook: useNotification
  shared/hooks/src/index.ts
  shared/hooks/src/useNotification.ts
Due: prettier --write, eslint --fix

feat(@shared/utils): 新增字符串常量
  shared/utils/src/BaseRequest.ts
  shared/utils/src/Constants/index.ts
  shared/utils/src/Constants/notification.ts
  shared/utils/src/index.ts
Due: prettier --write, eslint --fix

feat(@shared): new package: authentication
  shared/authentication/package.json
  shared/authentication/src/constants.ts
  shared/authentication/src/context.ts
  shared/authentication/src/hook.ts
  shared/authentication/src/index.ts
  shared/authentication/src/provider.tsx
  shared/authentication/src/types.ts
  shared/authentication/tsconfig.json
Due: prettier --write, eslint --fix

feat(@shared/navigation): 新增 DrawerNavigator
  shared/navigation/package.json
  shared/navigation/src/index.tsx
  shared/navigation/src/stack/index.native.ts
  shared/navigation/src/stack/index.ts
Due: prettier --write, eslint --fix

chore: 依赖调整，各项配置调整(tsconfig, babelrc, package scripts)
  apps/expo/.babelrc.js
  apps/expo/.babelrc.json
  apps/expo/index.js
  apps/expo/package.json
  apps/next/.babelrc.js
  apps/next/.babelrc.json
  apps/next/package.json
  babel.config.js
  package.json
  packages/app/.babelrc.js
  packages/app/tsconfig.json
  packages/terms/package.json
  packages/terms/src/AppProviders.tsx
  packages/terms/src/navigation/index.tsx
  packages/terms/tsconfig.json
  pnpm-lock.yaml
  shared/components/package.json
  shared/components/tsconfig.json
  shared/hooks/package.json
  shared/hooks/tsconfig.json
  shared/i18n/package.json
  shared/i18n/tsconfig.json
  shared/navigation/package.json
  shared/navigation/tsconfig.json
  shared/storage/package.json
  shared/storage/tsconfig.json
  shared/theme/package.json
  shared/theme/tsconfig.json
  shared/utils/package.json
  shared/utils/tsconfig.json
  tsconfig.base.json
Due: prettier --write, eslint --fix

chore(@apps/next): 调整 babelrc配置
  apps/next/.babelrc.js
Due: prettier --write, eslint --fix

feat(@packages): 更新示例代码
  packages/app/package.json
  packages/app/src/AppProvider.tsx
  packages/app/src/AppProviders.tsx
  packages/app/src/navigation/NavigatorProvider.tsx
  packages/app/src/navigation/index.tsx
  packages/terms/src/AppProvider.tsx
  packages/terms/src/navigation/index.tsx
  pnpm-lock.yaml
  shared/utils/src/CombineProviders.tsx
Due: prettier --write, eslint --fix

refactor(@shared/navigation): 去掉 native-stack, 仅使用 stack
  apps/expo/package.json
  apps/next/package.json
  package.json
  pnpm-lock.yaml
  shared/navigation/README.md
  shared/navigation/package.json
  shared/navigation/src/index.native.ts.disable
  shared/navigation/src/index.ts
  shared/navigation/src/index.tsx
  shared/navigation/src/stack/index.native.ts
  shared/navigation/src/stack/index.ts
  shared/navigation/src/types.native.ts.disable
  shared/navigation/src/types.ts
Due: prettier --write, eslint --fix, markdownlint-cli2 .md

feat(@shared/navigation): 不再使用 NavigateProp 和 RoutePageProp，需要自行写到业务代码中
  shared/navigation/README.md
  shared/navigation/package.json
  shared/navigation/src/index.native.ts.disable
  shared/navigation/src/index.ts
  shared/navigation/src/types.native.ts.disable
  shared/navigation/src/types.ts
Due: prettier --write, eslint --fix, markdownlint-cli2 .md

feat(@shared/components): check box 组件的 onPress 改为可选属性
  shared/components/src/CheckBox/index.tsx
Due: prettier --write, eslint --fix

chore: 补充 source 标记
  shared/authentication/package.json
  shared/components/package.json
  shared/components/src/modules.d.ts
  shared/hooks/package.json
  shared/i18n/package.json
  shared/storage/package.json
  shared/theme/package.json
  shared/utils/package.json
Due: prettier --write, eslint --fix

feat(@packages/terms): 优化 navigation
  packages/terms/src/constants/index.ts
  packages/terms/src/index.ts
  packages/terms/src/navigation/index.tsx
  packages/terms/src/navigation/types.tsx
  packages/terms/src/screens/Agreement.tsx
  packages/terms/src/screens/Privacy.tsx
Due: prettier --write, eslint --fix

feat(@packages/terms): 优化 navigation
  packages/app/src/@types/PageProps.d.ts
  packages/app/src/navigation/index.tsx
  packages/app/src/navigation/types.tsx
  packages/app/src/screens/Device/index.native.tsx
  packages/app/src/screens/Device/index.tsx
  packages/app/src/screens/Home/index.tsx
  packages/light/package.json
  packages/light/src/App.tsx
  packages/light/src/index.ts
  packages/light/tsconfig.json
  packages/light/typings/module.d.ts
  packages/terms/src/navigation/types.tsx
Due: prettier --write, eslint --fix

feat(@packages/ac): 优化 navigation
  packages/ac/@types/module.d.ts
  packages/ac/package.json
  packages/ac/src/AppProviders.tsx
  packages/ac/src/navigation/index.tsx
  packages/ac/src/navigation/types.tsx
  packages/ac/src/screens/Home/index.tsx
  packages/ac/tsconfig.json
  packages/ac/typings/PageProps.d.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (((any of: **/*.json) or (any of: **/*.{js,ts,tsx})) or (any of: *.vue)) or (any of: *.{scss,less,styl,html})
  eslint --fix: (any of: **/*.{js,ts,tsx}) or (any of: *.vue)
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
  markdownlint-cli2 .md: any of: **/*.md
